<div class="blog-post-item-v2">
  <div class="blog-post-item item-grid">
    <a class="hover-images" href="">
      <img src="{{article.image.src| img_url:'master'}}" alt="images" />
    </a>

    <div class="blog-post-info space-v2">
      <div class="post-date">
        <span class="date">{{article.published_at | date: "%d" }}</span>
        <span class="month">{{article.published_at | date: "%b"}}</span>
      </div>
      <div class="post-info">
        <h3 class="post-name"><a href="{{ article.url }}">{{article.title}}</a></h3>
        <a href="{{ article.url }}" class="blog-readmore">Read more</a>
      </div>
    </div>
  </div>
</div>