<div class="blog-single-post blog-standar">
    
    <div class="row">
        <div class="blog-content  col-md-9  col-xs-12">
            {% for article in blog.articles %}
            <div class="blog-post-item v2  border-bot">
                {% if article.image %}
                <div class="blog-img">
                    <a href="{{ article.url }}" class="hover-images">{{ article | img_url: 'master' | img_tag: article.title }}</a>
                </div>
                {% endif %}
                <div class="blog-info-bd">
                    <div class="blog-info">
                       <div class="blog-post-tags blog-post-author">
                            {% for tag in article.tags %}
                            <a class="uppercase fz-12 author margin_top_20" href="{{ blog.url }}/tagged/{{ tag | handle }}" rel="category tag">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                            {% endfor %}
                        </div>
                        <h3 class="blog-post-title v2"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                        <div class="blog-post-desc space_bot_20">
                          {{article.excerpt | strip_html | strip_newlines | truncatewords: 90}}
                        </div>
                      <a href="{{ article.url }}" class="button-blog ">{{section.settings.btn_blog}}</a> 
                    </div>
                </div>
            </div>
            {%endfor%}
          <div class="row">
            <div class="col-md-12 content_pagination">
              {% include 'pagination' %}
            </div>
          </div>
        </div>
        {% include 'blog-sidebar' %}
    </div>
</div>