<div class="blog-single-post blog-standar">
    
    <div class="row">
      {% include 'blog-sidebar' %}
        <div class="blog-content  col-md-9  col-xs-12">
            {% for article in blog.articles %}
            <div class="blog-post-item v2">
                {% if article.image %}
                <div class="blog-img">
                    <a href="{{ article.url }}" class="hover-images">{{ article | img_url: 'master' | img_tag: article.title }}</a>
                </div>
                {% endif %}
                <div class="blog-info-bd">
                    <div class="blog-info">
                      <div class="blog-post-author">
                        <p class="uppercase lt-2 fz-12 author">{{article.author}}</p>
                      </div>
                        <h3 class="blog-post-title v2"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                        <div class="blog-post-desc">
                            {{article.content | strip_html | strip_newlines | truncatewords: 90}}
                        </div>
                    </div>
                    <div class="blog-post-author v2">
                        <div class="blog-post-tags v2">
                            <div class="author uppercase fz-12 lt-2">{{ article.created_at | date: "%b.%d.%Y" }}</div>
                            
                        </div>

                        <div class="blog-post-comment"><span class="c-black"></span>{{article.comments_count}}</div>
                    </div>
                </div>
            </div>
            {%endfor%}
          <div class="row">
            <div class="col-md-12 content_pagination">
              {% include 'pagination' %}
            </div>
          </div>
        </div>
        
    </div>
</div>