<div class="login_form_pc" id="login_form">
  <div class="content_login_form over-hidden">
    <div class="absolute btn_close_login">
      <a href="#close" title="Close (Esc)"><i class="ti-close"></i></a>
    </div>
    <div class="mn-mobile-content-tab tab-pane hidden-xs hidden-sm">
      <div class="my-account-wrap">
        <div class="register-form hidden">
           <div class="text-center icon_top"><span class="flaticon-login"></span></div>
          <h3 class="title_register">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#">privacy policy</a>.</h3>
          {% form 'create_customer' %}
          {{ form.errors | default_errors }}
          <form method="post" class="form-customer form-login">
            <div class="form-group">
              <input type="email" class="form-control form-account {% if form.errors contains 'email' %} input--error{% endif %}"  placeholder="Username*" name="customer[email]"  {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
            </div>
            <div class="form-group">
              <input type="password" name="customer[password]" class="form-control form-account {% if form.errors contains 'password' %} input--error{% endif %}"  placeholder="Password*">
            </div>
            <div class="btn-button-group mg-top-30 mg-bottom-15">
              <button type="submit" class="ciloe-btn btn-login hover-white">{{ 'customer.register.submit' | t }}</button>
            </div>
          </form>
          {% endform %}
        </div>
        <!--      -->
        <div class="login-form">
          <div class="text-center icon_top"><span class="flaticon-user"></span></div>
          <h3 class="text-center">Create an account to expedite future checkouts, track order history & receive emails, discounts, & special offers</h3>
          {% form 'customer_login' %}
          {{ form.errors | default_errors }}
          <form method="post" class="form-customer form-login">
            <div class="form-group">
              <input type="email" class="form-control form-account" placeholder="Username*"  name="customer[email]">
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-account" placeholder="Password*"  name="customer[password]">
            </div>
            <div class="flex">
            <a href="#recover" id="RecoverPassword" class="btn-lostpwd space_bot_30">Lost your password?</a>
            </div>
            <div class="btn-button-group mg-top-30 mg-bottom-15">
              <button type="submit" class="ciloe-btn btn-login hover-white">{{ 'customer.login.log_in' | t }}</button>
            </div>
          </form>
          {% endform %}
        </div>
        <div id="RecoverPasswordForm" class="recover account-element hidden">
			<div class="cmt-title text-center">
              <h3 class="recover_pw">{{ 'customer.recover_password.title' | t }}</h3>
          </div>
          
			<div class="page-content">
            <p>{{ 'customer.recover_password.subtext' | t }}</p>
          <div class="form-login">
            {% form 'recover_customer_password' %}

            {{ form.errors | default_errors }}

            {% comment %}
            Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
            <span class="hide reset-password-success"></span>
            {% endif %}
            <div class="form-group">
              <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
              <input type="email" class="form-control form-account" value="" name="email" id="RecoverEmail" class="input-full"autocorrect="off" autocapitalize="off">
            </div>

            
              <button class="ciloe-btn btn-login hover-white mgr-5">{{ 'customer.recover_password.submit' | t }}</button>  
              <button id="HideRecoverPasswordLink" class="ciloe-btn btn-login hover-white">{{ 'customer.recover_password.cancel' | t }}</button>  

            


            {% endform %}
          </div>
          </div>
        </div>
      </div>
      <div class="spec"><span>Or</span></div>
      <a href="#" class="login-link hidden">Back to login</a>
      <a href="#" class="register-link ">Back to register</a>
    </div>
  </div>
</div>