<div class="container-fluid  relative banner_page v2 margin_bottom_20 {% if template.name contains 'collection' %} hidden-xs {% endif %}">
  <div class="row">
    <a href="{{section.settings.url_banner2}}" class="effect_img2">
      {% if section.settings.img_banner2 != blank %}
      <img src="{{section.settings.img_banner2 | img_url:'master'}}" class="img-responsive">
      {% endif %}
    </a>
  </div>
  <div class="absolute text_banner">
    <p class="margin_bottom_20 uppercase lt-2 {% if section.settings.local_text == 'left' %} text-left {% elsif section.settings.local_text == 'center' %} text-center {% elsif section.settings.local_text == 'right' %} text-right {% endif %}">{{section.settings.title_page22}}</p>
    <h1 class="margin_bottom_20 {% if section.settings.local_text == 'left' %} text-left {% elsif section.settings.local_text == 'center' %} text-center {% elsif section.settings.local_text == 'right' %} text-right {% endif %}">{{section.settings.title_page2}}</h1>
    <div class="space_top_20  {% if section.settings.local_text == 'left' %} text-left {% elsif section.settings.local_text == 'center' %} text-center {% elsif section.settings.local_text == 'right' %} text-right {% endif %}">
      <a href="{{section.settings.url_banner3}}" class=" button-about"> {{section.settings.button2}}</a>
    </div>
  </div>
</div>

<div class="container aubout-us space_top_100">
  <div class="col-md-4 col-sm-4 col-xs-12 space_bot_40 text-center">
                <img {%if section.settings.about2_img_1 == blank%}src="{{'about_1.jpg'| asset_url }}" 
                   {%else%}
                   src="{{section.settings.about2_img_1 | img_url:'master'}}"{%endif%} class="img-responsive margin_auto" alt="" />
    <h4 class="space_top_40 space_bot_30">{{section.settings.title_about2_1}}</h4>
    <p class="space_bot_30">{{section.settings.title_about2_11}}</p>
    <a href="{{section.settings.url1}}" class="over-hidden inline-block a1"><i class="ti-close"></i></a>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12 space_bot_40 text-center">
                <img {%if section.settings.about2_img_2 == blank%}src="{{'about_1.jpg'| asset_url }}" 
                   {%else%}
                   src="{{section.settings.about2_img_2 | img_url:'master'}}"{%endif%} class="img-responsive margin_auto" alt="" />
    <h4 class="space_top_40 space_bot_30">{{section.settings.title_about2_2}}</h4>
    <p class="space_bot_30" >{{section.settings.title_about2_22}}</p>
    <a href="{{section.settings.url2}}" class="over-hidden inline-block a2"><i class="ti-close"></i></a>
  </div>
    <div class="col-md-4 col-sm-4 col-xs-12  text-center">
                <img {%if section.settings.about2_img_3 == blank%}src="{{'about_1.jpg'| asset_url }}" 
                   {%else%}
                   src="{{section.settings.about2_img_3 | img_url:'master'}}"{%endif%} class="img-responsive margin_auto" alt="" />
    <h4 class="space_top_40 space_bot_30">{{section.settings.title_about2_3}}</h4>
    <p class="space_bot_30" >{{section.settings.title_about2_33}}</p>
    <a href="{{section.settings.url3}}" class="over-hidden inline-block a3"><i class="ti-close"></i></a>
  </div>
</div>
<div class="container-fuid choose-us ">
<div class="container ">
  <h1 class="text-center space_bot_70">{{section.settings.title_choose}}</h1>
  
  <div class=" col-sm-4 col-xs-12 text-right pdr">
    <h4 class="space_top_50">{{section.settings.title_content_choose1}}</h4>
    <p class="space_top_20">{{section.settings.content_choose1}}</p>
    <h4 class="space_top_50">{{section.settings.title_content_choose2}}</h4>
    <p class="space_top_20">{{section.settings.content_choose2}}</p>
  </div>
  <div class=" col-sm-4 col-xs-12 text-center">
     <img {%if section.settings.choose_img == blank%}src="{{'about_1.jpg'| asset_url }}" 
                   {%else%}
                   src="{{section.settings.choose_img | img_url:'master'}}"{%endif%} class="img-responsive margin_auto" alt="" />
  </div>
    <div class=" col-sm-4 col-xs-12 text-left pdl">
      <h4 class="space_top_50">{{section.settings.title_content_choose3}}</h4>
    <p class="space_top_20">{{section.settings.content_choose3}}</p>
      <h4 class="space_top_50">{{section.settings.title_content_choose4}}</h4>
    <p class="space_top_20">{{section.settings.content_choose4}}</p>
  </div>
</div>
</div>
