{% assign product_label_new = false %}
{% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
{% assign time = _time|plus:0 %}
{% assign now = 'now' | date: '%s'|plus:0 %}

{% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
{% assign value = _value|plus:0 %}

{% if now < value %}
{% assign product_label_new = true %}
{% endif %}


{% assign label_popular = false %}
{% if product.tags contains "popular" %}
{% assign label_popular = true %}
{% endif %} 

{% assign label_hot = false %}
{% if product.tags contains "hot" %}
{% assign label_hot = true %}
{% endif %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}	
<div class="product-countd pd-bd product-inner">
  <div class="product-item-countd">
    <div class="product-head product-img">
      <a href="{{product.url}}"><img src="{{ product.featured_image.src | img_url: 'master' }}" alt=""></a>
      {% if settings.show_sale_label and on_sale %}
      <div class="ribbon-price v3 red" style="background:{{settings.sale_label_color}};">
        {% capture product_discount %}{{ product.variants.first.compare_at_price | minus:product.variants.first.price | times:100 | divided_by:product.variants.first.compare_at_price }}% {% endcapture %}
        <span>{% if product.compare_at_price %}
          - {{product_discount}}{% endif %}
        </span>
      </div>
      {% endif %}
    </div>
    <div class="product-info">
      <p class="product-cate text-center">{{product.type}}</p>
      <div class="product-price thin-price v3">
        {% capture price %}{{ product.price | money }}{% endcapture %}
        <span class="{% if on_sale == true %}red {%endif%}">{% if product.price_varies %}{{ 'products.general.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}</span>
        {% if on_sale %}<span class="old">{{ product.compare_at_price | money }}</span> {% endif %}

      </div>
      <h3 class="product-title text-center v2"><a href="{{product.url}}">{{product.title}}</a></h3>
      {%if section.settings.enable_progress%}
      <div class="deal-progress">
        <div class="deal-stock">
          <span class="stock-sold">19% already claimed</span>
          <span class="stock-available">Available: <strong>
            {% if product.first_available_variant.inventory_management == "shopify" and product.first_available_variant.inventory_policy != "continue" %}
            {{ product.first_available_variant.inventory_quantity }} 
            {% endif %}</strong></span>
        </div>

        <div class="progress">
          <span class="progress-bar" style="width:27.5956%"></span>
        </div>
      </div>
      {%endif%}
      <div class="time-cound">
        <p class="text-center">{{section.settings.text2}}</p>
        <div class="countdown countdown-time" data-countdown="countdown" data-date="{{section.settings.hp_countdown}}">
        </div>
      </div>
    </div>
  </div>
</div>