<div class="space_top_50 engoj-bundle-product" style="background:{{ section.settings.bg_big_image }}">
<div class="container space_bot_20">
  {%include 'breadcrumb'%}
</div>
<div class="container ">
  <div class="single-product-detail product-bundle product-aff">
    
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">

        <div class="flex product-img-slide">


          <div class="product-images">
            <div class="main-img js-product-slider">
              {% for image in product.images %}
              <a href="#" onClick="return false;" class="effect"><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" class="engoj_img_main img-responsive full-width"></a>
              {% endfor %}
            </div>
            {%if section.settings.show_360%}
            <div class="e-product-button" data-toggle="modal" data-target="#my360"><span><i class="icon-refresh" style="font-size: 18px;padding-right: 5px;transform: translateY(20%);display: inline-block;"></i>360 DEGREE</span></div>
            {%endif%}
            {% if section.settings.show_label%}
			{% if product.compare_at_price > product.price %}
            <div class="ribbon-price v2 label-sale">
              {% capture product_discount %}{{ product.compare_at_price | minus:product.price | times:100 | divided_by:product.compare_at_price }}% {% endcapture %}
              <span>{% if product.compare_at_price %}
                - {{product_discount}}{% endif %}
              </span>
            </div>
            {% endif %}
            {% endif %}
            {% comment %}
            Setup MetaFields Editor: https://apps.shopify.com/metafields-editor

            If you’ve added to a product a metafield with the following attributes to store extra description for your products.
            Namespace: engo_video
            Key: video_link
            Value: https://vimeo.com/56962340
            Value_type: string

            Namespace: engo_external
            Key: external_name
            Value: Purchase On Amazon
            Value_type: string

            Namespace: engo_external
            Key: external_url
            Value: https://www.amazon.com/
            Value_type: string

            You can output the value of this metafield in product.liquid with this Liquid tag:
            product.metafields.Namespace.Key

            {{product.metafields.engo_video.video_link}}
            {{product.metafields.engo_external.external_name}}
            {{product.metafields.engo_external.external_url}}
            {{product.metafields.engo_summary.summary_content}}

            {% endcomment %}
            {% if product.metafields.engo_video.video_link != blank %}
            <div class="e-product-button"{%if section.settings.show_360%}style="right:17px; left:unset;width:140px;"{%endif%} data-fancybox href="{{product.metafields.engo_video.video_link}}"><span class="flex center"><span style="padding-top:14px;margin-right:5px;transform:scale(.8);"><img src="{{'play.png' | asset_url}}" class=" img-responsive"></span><span>PLAY VIDEO</span></span></div>
            {% endif %}
          </div>
          <div class="multiple-img-list-ver2 js-click-product">
            {% for image in product.images %}
            <div class="product-col">
              <div class="engoj_img_variant img">
                <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" class="img-reponsive">
              </div>
            </div>
            {% endfor %}
          </div>
        </div>


      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="single-flex">
          <div class="single-product-info product-info product-grid-v2 s-50">

            <h3 class="product-title"><a>{{product.title}}</a></h3>
            
			<div class="flex">
            <div class="product-price enj-product-price column-60">

              <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

              {% if product.compare_at_price > product.price %}
              <span class="price old">{{ product.compare_at_price | money }}</span>
              {% endif %}
              <span class="price engoj_price_main">{{ product.price | money }}</span>
            </div>
            <div class="product-rating column-40">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
     
            </div>

            <div class="product-static-text">
              <p>inkl. MwSt und zzgl. Versandkosten.</p>
            </div>
            {% if section.settings.show_sdes %}
            <div class="product-description">
              <p>{{product.description}}</p>
            </div>
            {% endif %}
            {% assign current_variant = product.selected_or_first_available_variant %}
            
            <div class="single-product-button-group">
              <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" id="formAddToCartUs" data-section="{{ section.id }}">

               <!-- <small id="product-form__small"></small> -->

                <select name="id" id="productSelect" class="engoj-except-select2  product-single__variants">
                  {% for variant in product.variants %}
                  {% if variant.available %}

                  {% assign sku = variant.sku %}

                  <option class="qwerty" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                  {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                  {% endif %}
                  {% endfor %}
                </select>

                {% if product.available and product.variants.size > 1 %}
                {% if section.settings.enable_size_guide %}
                {% include 'ciloe-size-guide' %}
                {% endif %}
                {% for option in product.options %}
                {% include 'swatch' with option %}
                {% endfor %}
                {% endif %}

                {% if product.metafields.engo_external.external_name != blank %}
                <div class="single-product-button-group">
                  <div class="e-btn cart-qtt no-qtt v2">
                    <a href="{{product.metafields.engo_external.external_url}}" class="btn-add-cart btn-amazon" target="_blank">{{product.metafields.engo_external.external_name}}</a>
                  </div>  
                  <div class="e-btn btn-icon">
                    {% include 'ciloe-add-wishlist'%}
                  </div>

                </div>
                   
              {% else %}

              <div class="e-btn cart-qtt">
                {% unless current_variant.available %}
                {%else%}
                {% if section.settings.show_quantity %}
                <div class="product-form__item product-form__item--quantity e-quantity">
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
                </div>
                {% endif %}
                {% endunless %}
                <div class="product-form__item product-form__item--submit">
                  <button type="{% if product.type != 'Poster' %}submit {% else %}button{% endif %}" name="add" id="AddToCart" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn-add-cart{% unless current_variant.available %} btn-outofstock{% endunless %}{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %} {% if product.type == 'Poster' %}Poster{% endif %} ">

                    <p id="AddToCartText-{{ section.id }}">
                      {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                      {% else %}
                      {{ 'products.product.addtocart' | t }}
                      {% endunless %}
                    </p>
                    {% unless current_variant.available %}
                    {%else%}
                    {%if settings.pia_addcart_show %}
                    <p class="icon-bg {% if settings.icon_cart_display == 'default'%}icon-cart v2{%else%}{{settings.pia_addcart}} f-20{%endif%}"></p>
                    {% endif %}
                    {% endunless %}
                  </button>
                </div>
              </div>

              {% endif %}
                {%if section.settings.show_checkout%}
                <div class="product-cart__condition">
                  <input type="checkbox" id="product-cart__agree-product-template" data-message="You must agree with the terms and conditions of sales to check out.">
                  <label for="product-cart__agree-product-template">I agree with the <a href="{{section.settings.page_url}}">terms and conditions</a>.</label>
                </div>
                {% form 'product', product %}


                {{ form | payment_button }}

                {% endform %}
                {% endif %}
              </form>
			
            
          </div>
          
          {% if section.settings.show_sku%}
            <div class="product-sku fz-12" style="font-weight:600;">
              <label>{{ 'products.product.sku' | t }} :</label>
              
              <span> {{ current_variant.sku }}</span>
            </div>
            {% endif%}
          {% if section.settings.show_tag %}
          <div class="product-tags fz-12" style="font-weight:600;">
            <label>Categories :</label>
            {% for collection in product.collections %}
            <a href="{{ collection.url }}">{{ collection.title }}</a>{% unless forloop.last %},{% endunless %}
            {% endfor %}
          </div>
          {%endif%}
        </div>
{% comment %}
        {% if section.settings.show_service_box%}
        {% include 'servicebox_product'%}
        {%endif%}
{% endcomment %}
      </div>
    </div>
  </div>
 
  
</div>
</div>
</div>

{% if section.settings.enable_alltab %}
<div class="container">
  <div class="row">
  {% include 'product-detail-tab' %}
  </div>
</div>
{% endif %}
{% if section.settings.show_product_related %}
{% include 'related-product'%}
{% endif %}
{% comment %}

{% if section.settings.show_product_question %}
{% include 'faq-product'%}

{% endif %}
{% if section.settings.show_product_similar_brand %}
{% include 'similar-product'%}

{% endif %}

{% endcomment %}

{%- capture _array_img_360 -%}
{% for image in product.images %}
{{ image.src | img_url: 'master'}},
{% if forloop.last %}
{%- assign limit_img = forloop.index -%}
{% endif %}
{% endfor %}
{%- endcapture -%}

{%- assign array_img_360 = _array_img_360 | split: ',' -%}

{%if section.settings.show_360%}
<div class="modal fade" id="my360" role="dialog">
  <div class="modal-dialog modal-lg modal-sm">
    <div class="modal-content product-360-view-wrapper">
      <button type="button" class="close close-popup" data-dismiss="modal">&times;</button>
      <div class="threesixty e-threed-view js-product-360-{{product.id}}">
        <ul class="threesixty_images"></ul>
        <div class="spinner"><span>0%</span></div>
      </div>
    </div>
  </div>
</div>
{%endif%}




<style>
/* .single-option-selector::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
} */
</style>



<script>
  jQuery(document).ready(function( $ ) {




    $('.js-product-360-{{product.id}}').ThreeSixty({
      totalFrames: {{limit_img}}, // Total no. of image you have for 360 slider
      endFrame: {{limit_img}}, // end frame for the auto spin animation
      currentFrame: 1, // This the start frame for auto spin
      imgList: '.threesixty_images', // selector for image list
      progress: '.spinner', // selector to show the loading progress
      imgArray: {{array_img_360 | json}}, // path of the image assets
      filePrefix: '', // file prefix if any
      ext: '.jpg', // extention for the assets
      // responsive: true,
      navigation: true

      });   
  });
</script>

