{% assign product_label_new = false %}
{% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
{% assign time = _time|plus:0 %}
{% assign now = 'now' | date: '%s'|plus:0 %}

{% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
{% assign value = _value|plus:0 %}

{% if now < value %}
{% assign product_label_new = true %}
{% endif %}


{% assign label_popular = false %}
{% if product.tags contains "popular" %}
{% assign label_popular = true %}
{% endif %} 

{% assign label_hot = false %}
{% if product.tags contains "hot" %}
{% assign label_hot = true %}
{% endif %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}	

<div class="col-xs-12 col-sm-4 col-md-4">
  <div class="product-img">
    <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" class="img-responsive"></a>
    <div class="ribbon-price-h right ribbon-mobile {% if on_sale %} ver2 {% endif %}">



      {% if on_sale %} 
      <span class="old">{{ product.compare_at_price | money }}</span>
      {% endif %}
      <span class="price {% if on_sale == false %}black {%endif%}">
        {% capture price %}{{ product.price | money }}{% endcapture %}
        {% if product.price_varies %}<ins >{{ 'products.general.from_text_html' | t: price: price }}{% else %}{{ price }}</ins>{% endif %}       
      </span>
    </div>
  </div>
  <div class="product-info-ver2 text-center">
    <h3 class="product-title">
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </h3>
    <p class="product-desc ver2">{{product.description }}</p>
    <a href="{{ product.url | within: collection }}" class="btn-shop ver2">{{section.settings.btn_name}}</a>
  </div>
</div>