<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="p:domain_verify" content="116f8ad848d1020dbd8d3efdeedc0802"/> 

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}  {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.m_primary_color }}">
  <link rel="icon" href="{{'favicon.png'| asset_url}}" type="image/png" sizes="16x16">
  <link rel="stylesheet" href="https://cdn.consentmanager.mgr.consensu.org/delivery/cmp.min.css" />

  <!-- font -->
  {% include 'engo-header-fonts' %}

  <!-- CSS ================================================== -->
  
  {% if settings.po_style == "po_swatchs" %}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {% if settings.po_style == "po_dropdown" %}
  {{ 'timber_2.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  {{ 'simple-line-icons.css' | asset_url | stylesheet_tag }}
  {{ 'ionicons.min.css' | asset_url | stylesheet_tag }}
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
  {{ 'owl.theme.default.min.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
  {{ 'threesixty.css' | asset_url | stylesheet_tag }}
  {% comment %}{{ 'jquery.sidr.dark.min.css' | asset_url | stylesheet_tag }}{% endcomment %}
  {% comment %}{{ 'jquery.sidr.light.min.css' | asset_url | stylesheet_tag }}{% endcomment %}

  {% comment%} {{ 'main.css' | asset_url | stylesheet_tag }}{% endcomment %}
  
  {% comment %}{{ 'pe-icon-7-stroke.css' | asset_url | stylesheet_tag }}{% endcomment %}
   {% comment %}{{ 'settings.css' | asset_url | stylesheet_tag }}{% endcomment %}
  {% comment %} {{ 'layers.css' | asset_url | stylesheet_tag }}{% endcomment%}
 {% comment %} {{ 'navigation.css' | asset_url | stylesheet_tag }}{% endcomment%}
  {{ 'fonts.css' | asset_url | stylesheet_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {{ 'fix_style.css' | asset_url | stylesheet_tag }}
  {{ 'zoa-font.css' | asset_url | stylesheet_tag }}
  {{ 'flaticon.css' | asset_url | stylesheet_tag }}
  {{ 'themify-icons.css' | asset_url | stylesheet_tag }}
  {{ 'style-main.css' | asset_url | stylesheet_tag }}
  {{ 'style-more.css' | asset_url | stylesheet_tag }}
  {{ 'engo-customize.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ 'jquery-1.12.0.min.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'modernizr-2.8.3.min.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}


  <script>
    window.ajax_cart = true;
    window.money_format = '{{shop.money_with_currency_format}}';
    window.shop_currency = '{{ shop.currency }}';
    window.show_multiple_currencies = true;
    window.loading_url = "{{ 'loader.gif' | asset_url}}";
    window.use_color_swatch = true;
    window.product_image_resize = true;
    window.enable_sidebar_multiple_choice = true;

    window.file_url = "{{''|file_url}}";
    window.asset_url = "{{''|asset_url}}";
    window.images_size = {
      is_crop: true,
      ratio_width : 1,
      ratio_height : 1,
    };
    window.inventory_text = {
      in_stock: "{{ 'products.product.in_stock' | t }}",
      many_in_stock: "{{ 'products.product.many_in_stock' | t }}",
      out_of_stock: "{{ 'products.product.out_of_stock' | t }}",
      add_to_cart: "{{ 'products.product.addtocart' | t }}",
      sold_out: "{{ 'products.product.sold_out' | t }}",
      unavailable: "{{ 'products.product.unavailable' | t }}"
    };

    window.sidebar_toggle = {
      show_sidebar_toggle: "{{ 'general.sidebar_toggle.show_sidebar_toggle' | t }}",
      hide_sidebar_toggle: "{{ 'general.sidebar_toggle.hide_sidebar_toggle' | t }}"
    };

  </script>

  {% comment %}
  If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {% include 'social-meta-tags' %}










  {% include 'revy-bundle-script' %}










</head>
{% comment %}
Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body class="{% if template.name contains 'index' %}bg-body{% endif %}">

  <script>window.gdprAppliesGlobally=true;window.cmp_id=7619;window.cmp_params="";window.cmp_host="consentmanager.mgr.consensu.org";window.cmp_cdn="cdn.consentmanager.mgr.consensu.org";function cmp_getlang(j){if(typeof(j)!="boolean"){j=true}if(j&&typeof(cmp_getlang.usedlang)=="string"&&cmp_getlang.usedlang!==""){return cmp_getlang.usedlang}var g=["DE","EN","FR","IT","NO","DA","FI","ES","PT","RO","BG","ET","EL","GA","HR","LV","LT","MT","NL","PL","SV","SK","SL","CS","HU","RU"];var c=[];var f=location.hash;var e=location.search;var a="languages" in navigator?navigator.languages:[];if(f.indexOf("cmplang=")!=-1){c.push(f.substr(f.indexOf("cmplang=")+8,2))}else{if(e.indexOf("cmplang=")!=-1){c.push(e.substr(e.indexOf("cmplang=")+8,2))}else{if(a.length>0){for(var d=0;d<a.length;d++){c.push(a[d])}}}}if("language" in navigator){c.push(navigator.language)}if("userLanguage" in navigator){c.push(navigator.userLanguage)}var h="";for(var d=0;d<c.length;d++){var b=c[d].toUpperCase();if(b.indexOf("-")!=-1){b=b.substr(0,2)}if(g.indexOf(b)!=-1){h=b;break}}if(h==""){h="EN"}h=h.toUpperCase();return h}(function(){var a="";var c="";if("cmp_getlang" in window){a=window.cmp_getlang().toLowerCase();c="_"+a}var b=document.createElement("script");b.src="https://"+window.cmp_host+"/delivery/cmp.php?id="+window.cmp_id+"&h="+encodeURIComponent(location.href)+"&"+window.cmp_params+(document.cookie.length>0?"&__cmpfcc=1":"")+"&l="+a+"&o="+(new Date()).getTime();b.type="text/javascript";b.async=true;if(document.body){document.body.appendChild(b)}else{if(document.currentScript){document.currentScript.parentElement.appendChild(b)}else{document.write(b.outerHTML)}}var b=document.createElement("script");b.src="https://"+window.cmp_cdn+"/delivery/cmp"+c+".min.js";b.type="text/javascript";b.async=true;if(document.body){document.body.appendChild(b)}else{if(document.currentScript){document.currentScript.parentElement.appendChild(b)}else{document.write(b.outerHTML)}}window.cmp_addFrame=function(e){if(!window.frames[e]){if(document.body){var d=document.createElement("iframe");d.style.cssText="display:none";d.name=e;document.body.appendChild(d)}else{window.setTimeout('window.cmp_addFrame("'+e+'")',10)}}};window.cmp_rc=function(j){var d=document.cookie;var g="";var f=0;while(d!=""&&f<100){f++;while(d.substr(0,1)==" "){d=d.substr(1,d.length)}var h=d.substring(0,d.indexOf("="));if(d.indexOf(";")!=-1){var e=d.substring(d.indexOf("=")+1,d.indexOf(";"))}else{var e=d.substr(d.indexOf("=")+1,d.length)}if(j==h){g=e}i=d.indexOf(";")+1;if(i==0){i=d.length}d=d.substring(i,d.length)}return(g)};window.cmp_stub=function(){var d=arguments;__cmp.a=__cmp.a||[];if(!d.length){return __cmp.a}else{if(d[0]==="ping"){if(d[1]===2){d[2]({gdprApplies:gdprAppliesGlobally,cmpLoaded:false,cmpStatus:"stub",displayStatus:"hidden",apiVersion:"2.0",cmpId:31},true)}else{d[2]({gdprAppliesGlobally:gdprAppliesGlobally,cmpLoaded:false},true)}}else{if(d[0]==="getUSPData"){d[2]({version:1,uspString:window.cmp_rc("")},true)}else{if(d[0]==="getTCData"){__cmp.a.push([].slice.apply(d))}else{if(d.length==4&&d[3]===false){d[2]({},false)}else{__cmp.a.push([].slice.apply(d))}}}}}};window.cmp_msghandler=function(h){var d=typeof h.data==="string";try{var g=d?JSON.parse(h.data):h.data}catch(j){var g=null}if(typeof(g)==="object"&&g!==null&&"__cmpCall" in g){var f=g.__cmpCall;window.__cmp(f.command,f.parameter,function(l,k){var e={__cmpReturn:{returnValue:l,success:k,callId:f.callId}};h.source.postMessage(d?JSON.stringify(e):e,"*")})}if(typeof(g)==="object"&&g!==null&&"__uspapiCall" in g){var f=g.__uspapiCall;window.__uspapi(f.command,f.version,function(l,k){var e={__uspapiReturn:{returnValue:l,success:k,callId:f.callId}};h.source.postMessage(d?JSON.stringify(e):e,"*")})}if(typeof(g)==="object"&&g!==null&&"__tcfapiCall" in g){var f=g.__tcfapiCall;window.__tcfapi(f.command,f.version,function(l,k){var e={__tcfapiReturn:{returnValue:l,success:k,callId:f.callId}};h.source.postMessage(d?JSON.stringify(e):e,"*")},f.parameter)}};window.cmp_setStub=function(d){if(!(d in window)||(typeof(window[d])!=="function"&&typeof(window[d])!=="object"&&(typeof(window[d])==="undefined"||window[d]!==null))){window[d]=window.cmp_stub;window[d].msgHandler=window.cmp_msghandler;if(window.addEventListener){window.addEventListener("message",window.cmp_msghandler,false)}else{window.attachEvent("onmessage",window.cmp_msghandler)}}};window.cmp_addFrame("__cmpLocator");window.cmp_addFrame("__uspapiLocator");window.cmp_addFrame("__tcfapiLocator");window.cmp_setStub("__cmp");window.cmp_setStub("__tcfapi");window.cmp_setStub("__uspapi")})();</script>
  
  {% include 'ciloe-form-login' %}
  {% if template.name contains 'product' %}
  {% include 'ciloe-social-share' %}
  {% endif %}
  {% include 'ciloe-push-menu' %}
  {% include 'ciloe-push-cart' %}
  {% include 'ciloe-search' %}
   {% comment %}<div class=" {% if template.name contains 'index' %}border-home1{% endif %}"> {% endcomment %}
  {% section 'header' %}

  
  <main>
    {{ content_for_layout }}
    {% section 'popup' %}
  </main>
  
  {% include 'ciloe-scroll-top' %}
  {% section 'footer' %}  
  {% comment %}</div>{% endcomment %}
  {{ 'fastclick.js' | asset_url | script_tag }}
  {% include 'currencies' %}
  {{ 'timber.js' | asset_url | script_tag }}

  {% comment %}
  Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
    $(function() {
      timber.resetPasswordSuccess();
    });
    {% endif %}
  </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
  <script>
    jQuery(document).ready(function( $ ) {
        $('.counte').counterUp({
            delay: 10,
            time: 2000
        });
    });
</script>
  <script>
    jQuery(function() {
      jQuery('.swatch :radio').change(function() {
        var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
        var optionValue = jQuery(this).val();
        jQuery(this)
        .closest('form')
        .find('.single-option-selector')
        .eq(optionIndex)
        .val(optionValue)
        .trigger('change');
      });
    });
  </script>

  
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajax-cart.js' | asset_url | script_tag }}
  <script>
    var ajaxCartConfig = {
      cartContainer: '.enj-minicart-ajax',
      addToCartSelector: '.enj-add-to-cart-btn',
      cartCountSelector: '.enj-cartcount',
      cartCostSelector: '#CartCost',
      moneyFormat: {{ shop.money_format | json }}
    };
      jQuery(function($) {
      ajaxCart.init(ajaxCartConfig);
    });

    jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
      // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
      /*   timber.RightDrawer.open(); */
    });
  </script>
  
  
  {% if template contains 'contact' %}
  <script src="//maps.google.com/maps/api/js?key={{settings.gmap_key}}&callback=initMap"></script>
  
  {{ 'gmaps.min.js' | asset_url | script_tag }}
  {% endif %}
  
  {% comment %}{{ 'jff-vendor.min.js' | asset_url | script_tag }}{% endcomment %}
 {% comment %} {{ 'select2.full.min.js' | asset_url | script_tag }}{% endcomment %}
  {% comment %}{{ 'jquery.mCustomScrollbar.js' | asset_url | script_tag }}{% endcomment %}
 {% comment %} {{ 'jff-utils.js' | asset_url | script_tag }}{% endcomment %}
 {% comment %} {{ 'jquery-ui.min.js' | asset_url | script_tag }}{% endcomment %}
  {{ 'bootstrap.min.js' | asset_url | script_tag }}
  {{ 'slick.js' | asset_url | script_tag }}
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.min.js' | asset_url | script_tag }}
 {% comment %} {{ 'jquery.elevatezoom.js' | asset_url | script_tag }}{% endcomment %}
 {% comment %} {{ 'imagesloaded.pkgd.min.js' | asset_url | script_tag }}{% endcomment %}
  {{ 'masonry.pkgd.min.js' | asset_url | script_tag }}
 {% comment %} {{ 'isotope.pkgd.min.js' | asset_url | script_tag }}{% endcomment %}
 {% comment %} {{ 'packery.pkgd.min.js' | asset_url | script_tag }}{% endcomment %}
 {% comment %} {{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}{% endcomment %}
 {% comment %} {{ 'waves.min.js' | asset_url | script_tag }}{% endcomment %}
 {% comment %} {{ 'jquery.sidr.min.js' | asset_url | script_tag }}{% endcomment %}
  
  
  {{ 'instafeed.min.js' | asset_url | script_tag }}
  
  {{ 'countdown.js' | asset_url | script_tag }}
  {{ 'jquery.counterup.min.js' | asset_url | script_tag }} 
  {{ 'threesixty.min.js' | asset_url | script_tag }}
<!--  scroll  -->
  {{ 'TimelineLite.min.js' | asset_url | script_tag }}
  {{ 'TweenMax.min.js' | asset_url | script_tag }}
  {{ 'jquery.superscrollorama.js' | asset_url | script_tag }}
  {{ 'function-scroll.js' | asset_url | script_tag }}
<!--  endscroll  -->
  {{ 'main.js' | asset_url | script_tag }}

 {% comment%} {{ 'jquery.themepunch.tools.min.js' | asset_url | script_tag }}{% endcomment %}
   {% comment%}{{ 'jquery.themepunch.revolution.min.js' | asset_url | script_tag }}{% endcomment %}
  
  {{ 'engo-plugins.js' | asset_url | script_tag }}
  {{ 'quickview.js' | asset_url | script_tag }}
  {% comment %}
  {{ 'wish-list.js' | asset_url | script_tag }}
  {% endcomment %}
  {{ 'collection.js' | asset_url | script_tag }}

  {{ 'engo-scripts.js' | asset_url | script_tag }}
  {{ 'engo-autocomplate.js' | asset_url | script_tag }}
  
  {% include 'product-quick-view' %}
  {% include 'template-popup' %}
  {% include 'template-popup-ajax-addtocart' %}
  {% if settings.show_popup_newletter and template contains 'index' %}
  {% include 'popup-newletter' %}
  {% endif %}

   {% include 'linked-options' %}
 {% comment %}  
  {% include 'remove-sold-out' %}
  
  {% include 'search-autocomplete' %}
  {% endcomment %}
  
    {% comment %}  
    Pingdom snippet
  {% endcomment %}
  
   <script src="//rum-static.pingdom.net/pa-5e3059f8229e930008000343.js" async></script>
  
</body>
</html>
