<div data-section-id="{{ section.id }}" data-section-type="product-tab-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
	<!--wrapper product-->
 <div class="product-tab bg-gradient bg-insinde">
    <div class="container container-240">
        <ul class="product-tab-sw">
            {% if section.blocks.size > 0 %}
            {%- assign i = 1 -%}
            {% for block in section.blocks %}
            <li class="{% if forloop.first %}active{% endif %}">
                <a href="#{{i}}_{{ section.id }}" data-toggle="tab" class="fz-18">{{block.settings.tab_title}}</a>
            </li>
            {%- assign i = i | plus : 1 -%}
            {% endfor %}
            {% endif %}
        </ul>
        <div class="tab-content">
            {% if section.blocks.size > 0 %}
            {%- assign i = 1 -%}
            {% for block in section.blocks %}

            {% assign products_limit = block.settings.tab_limit %}
            {% assign col = block.settings.tab_collection %}
            <div id="{{i}}_{{ section.id }}" class="tab-pane fade {% if forloop.first %}active in{% endif %}">
                <div class="product-tab-pd js-multiple-row2">
                    {% for product in collections[col].products limit: products_limit %}
                      {% include 'product-list-24' %}
                    {% else %}
                      {% include 'empty-product-grid-24' %}
                    {% endfor %}

                </div>
            </div>
            {%- assign i = i | plus : 1 -%}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<!--end wrapper product-->
</div>  
{% schema %}
{
  "name": "Product Tab v1",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Title",
          "info": "Sale products"
        },
        {
          "type": "collection",
          "id": "tab_collection",
          "label": "Choose Collection"
        },
        {
          "type": "text",
          "id": "tab_limit",
          "label": "Limit number of products",
          "default": "24"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Tab v1",
      "category": "Product Tab"
    }
  ]
}
{% endschema %}
