<div data-section-id="{{ section.id }}" data-section-type="slide-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="BG-section margin_bottom_80 Testimonal">
    <!-- <div class="line-tes "></div> -->
    <div class="ciloe-title-section  container relative margin_top_20">
      <h2 class="margin_bottom_10 text-center fw-600">{{section.settings.title}}</h2>
    </div>
    <div class="container margin_bottom_100">
      <div class="slick-Testimonal">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        <div class="content-comment relative delay03 text-center">
          <p class="des-comment space_bot_40 color-text">{{block.settings.content}}</p>
          {% if block.settings.avatar != blank %}
          <img src="{{block.settings.avatar | img_url:'104x104'}}" class="img-responsive">
          {% endif %}
          <div class="flex center space_top_30">
          <p class=" author-comment color-text capital fw-700">{{block.settings.author}}</p> <span class="capital model fw-500 lt-1">{{block.settings.infor}}</span>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<style>

  .Testimonal .line-tes{
  	width:1px;
    height:100px;
    border-left:1px solid {{section.settings.color-model}};
    margin:auto;
  }
  .slick-Testimonal .content-comment{
    padding:30px;
    
}
  .slick-Testimonal .des-comment{
  color:{{section.settings.color-des}};
    font-weight:200;
  }
  .slick-Testimonal .author-comment{
  	color:{{section.settings.color-author}};
  }
  .slick-Testimonal .content-comment span{
    padding-left:5px;
  color:{{section.settings.color-model}};
  }
  .slick-Testimonal{
  	width:50%;
    margin:auto;
  }
  .slick-Testimonal .content-comment  img{
    margin:auto;
}
  @media (max-width:567px){
    .slick-Testimonal{
  	width:90%;
  }
    .slick-Testimonal .des-comment{
    	font-size:14px;
      line-height:30px;
    }
  }
</style>
{% schema %}
{
  "name": "Testimonal v1",
  "settings": [
	
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
	{
      "type": "color",
      "id": "color-des",
      "label": "Color des",
      "default": "#999999"
    },
	{
      "type": "color",
      "id": "color-author",
      "label": "Color author",
      "default": "#3c3c3c"
    },
	{
      "type": "color",
      "id": "color-model",
      "label": "Color model",
      "default": "#cfcfcf"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "testimonial"
    }
  ],
"blocks": [
      {
        "type": "image",
        "name": "Image slide",
		"limit":10,
        "settings": [
    {
      "type": "textarea",
      "id": "content",
      "label": "Content Tetimonal",
      "default": "Top notch quality of product. Everything is simple but not boring at all. I wisht I could buy all stuff in here. The customer services are incredible with kindness & careful. I would recommend Minim for all of you guys."
    },
	{
      "type": "image_picker",
      "id": "avatar",
      "label": "Avatar",
	  "info": "50 x 50px recommended"
    },
	{
      "type": "text",
      "id": "author",
      "label": "Author",
      "default": "Paul Wilson"
    },
	{
      "type": "text",
      "id": "infor",
      "label": "Information",
      "default": "|  San Jose"
    }
		
]
}
],
  "presets": [
    {
      "name": "Testimonal v1",
      "category": "Page Minim"
    }
  ]
}
{% endschema %}