<div data-section-id="{{ section.id }}" data-section-type="slide-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  
    
  <div class="container-fluid container_35 margin_bottom_100 border-bot collection_pinmapper">
    {% if section.settings.enable_title %}
    <h1 class="margin_bottom_80 {% if section.settings.local_text == 'left' %} text-left {% elsif section.settings.local_text == 'center' %} text-center {% elsif section.settings.local_text == 'right' %} text-right {% endif %}">{{section.settings.title}}</h1>
    {% endif %}
    <div class="slick-top-collection">
      {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
      <div class="js-top-collection">
        <div class="relative">
          <a href="{{block.settings.url}}" class="inline-block over-hidden"><img src="{{block.settings.img | img_url:'master'}}" class="img-responsive hover-zoom-out"></a>
          <div class="absolute text_collection">
            <h4 class="title_1 margin_bottom_10">{{block.settings.title_1}}</h4>
            <h4 class="title_2 margin_bottom_40">{{block.settings.title_2}}</h4>
            <a href="{{block.settings.url}}" class="inline-block over-hidden ciloe-btn-default-2 relative">{{block.settings.btn_name}}</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<style>
  .slick-top-collection .slick-next{
  	display:none !important;
  }
  .slick-top-collection .slick-prev{
  	display:none !important;
  }
  .collection_pinmapper{
  	padding-bottom:170px;
  }
  .collection_pinmapper h1{
  	font-size:42px;
  }
  .collection_pinmapper .js-top-collection .text_collection{
  	bottom:0;
    left:0;
    padding:45px 180px 45px 60px;
    background:#fff;
  }
  .collection_pinmapper .js-top-collection:hover .text_collection h4.title_1{
    animation: text-translate .8s ease;
    -webkit-animation: text-translate .8s ease;
  }
  .collection_pinmapper .js-top-collection:hover .text_collection h4.title_2{
    animation: text-translate2 .8s ease;
    -webkit-animation: text-translate2 .8s ease;
  }
  .collection_pinmapper .js-top-collection:hover .text_collection a{
    animation: text-translate3 .8s ease;
    -webkit-animation: text-translate3 .8s ease;
  }
  .collection_pinmapper .js-top-collection .text_collection h4{
  	font-size:36px;
  }
  .collection_pinmapper .js-top-collection .text_collection a{
  	font-weight:500;
  }
  .collection_pinmapper .js-top-collection .text_collection a.ciloe-btn-default-2:before{
  	background:#000;
  }
  .collection_pinmapper .js-top-collection .text_collection a.ciloe-btn-default-2:hover::before{
  	background:#41cce5;
  }
  @media (max-width:991px){
  	.collection_pinmapper .js-top-collection .text_collection{
    padding:20px;
    
  }
    .collection_pinmapper .js-top-collection .text_collection h4{
  	font-size:24px;
  }
  }
</style>
{% schema %}
{
  "name": "Top collection Pinmapper",
  "settings": [
	
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
	{
      "type": "checkbox",
      "id": "enable_title",
      "label": "Enable title",
      "default": true
    },
	{
   "type":      "select",
   "id":        "local_text",
   "label":     "Chose position title",
   "options": [
     {
       "value": "left",
       "label": "Left"
     },
     {
       "value": "center",
       "label": "Center"
     },
     {
       "value": "right",
       "label": "Right"
     }
   ],
   		"default":   "center"
	},
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Top collection"
    }
  ],
"blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
    {
      "type": "url",
      "id": "url",
      "label": "URL collection",
      "default": "/collections/all"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title_1",
      "label": "Text 1"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Text 2"
    },
    {
      "type": "text",
      "id": "btn_name",
      "label": "Button name",
      "default": "shop now"
    }
]
}
],
  "presets": [
    {
      "name": "Top collection Pinmapper",
      "category": "Home Pinmapper"
    }
  ]
}
{% endschema %}