<div data-section-id="{{ section.id }}" data-section-type="slide-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
<!--slide-->
  <div class="container-fluid slider-home-classic margin_bottom_20">
    <div class="row">
      	<div class="js-slider-home-clean">
      {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
      	<div class="content-slider">
          <div class="relative">
            {% if block.settings.bg-img == blank %}
          	<img src="{{'slider-classic-1.jpg' | asset_url}}" class="img-responsive img-bg-slider">
            {% else %}
            <img src="{{block.settings.bg-img | img_url:'master'}}" class="img-responsive img-bg-slider">
            {% endif %}
            
            <div class="absolute text-slider {% if block.settings.local_text == 'center' %} text-center {% elsif block.settings.local_text == 'left' %} text-left {% elsif block.settings.local_text == 'right' %} text-right {% endif %}">
              
              <p class="text-animate-1 lt-3 margin_bottom_20">{{block.settings.title-1}}</p>
              
              
              <h1 class="text-animate-2 margin_bottom_20">{{block.settings.title-2}}</h1>
            
              
              <div class="btn-slider">
              <a class="btn-animate-ciloe delay03 inline-block over-hidden relative space_bot_10" href="{{block.settings.url-btn}}" >{{block.settings.btn-name}}</a>
              </div>
            </div>
            
            <div class="absolute img-slider-1">
              {% if block.settings.img-slider-1 != blank %}
            	<img src="{{block.settings.img-slider-1 | img_url:'master'}}" class="img-animate-1 img-responsive">
              {% endif %}
            </div>
            {% if block.settings.enable_img %}
            <div class="absolute img-slider-2">
              
              {% if block.settings.img-slider-2 != blank %}
            	<img src="{{block.settings.img-slider-2 | img_url:'master'}}" class="img-animate-2 img-responsive">
              {% endif %}
              
            </div>
            {% endif %}
            
          </div>
        </div>
      {% endfor %}
      {% endif %}
        </div>
    </div>
  </div>
<!--endslide-->
</div>
<style>
  {% if section.settings.hidden_dot %}
  .slider-home-classic .js-slider-home-clean .slick-dots{
  	display:none !important;
  }
  {% endif %}
  @media (max-width:1400px){
  .slider-home-classic .img-slider-1 img{
    width:{{section.settings.width_img_14}}%;
    float:{{section.settings.float_img_14}};
  }
  .slider-home-classic .img-slider-2 img{
  	width:{{section.settings.width_img_24}}%;
    float:{{section.settings.float_img_24}};
  }
  }
  @media (max-width:1024px){
  .slider-home-classic .img-slider-1 img{
    width:{{section.settings.width_img_1}}%;
    float:{{section.settings.float_img_1}};
  }
  .slider-home-classic .img-slider-2 img{
  	width:{{section.settings.width_img_2}}%;
    float:{{section.settings.float_img_2}};
  }
  }
  @media (max-width:768px){
  .slider-home-classic .img-slider-1 img{
    width:{{section.settings.width_img_1_ipad}}%;
    float:{{section.settings.float_img_1_ipad}};
  }
  .slider-home-classic .img-slider-2 img{
  	width:{{section.settings.width_img_2_ipad}}%;
    float:{{section.settings.float_img_2_ipad}};
  }
  }
  .btn-animate-ciloe{
  	color:{{section.settings.bg-btn}};
  }
  .btn-animate-ciloe:hover{
  	color:{{section.settings.bg-btn-hover}};
  }
  {% if section.settings.enable_prev %}
  .js-slider-home-clean .slick-next{
  	display:none !important;
  }
  .js-slider-home-clean .slick-prev{
  	display:none !important;
  }
  {% endif %}
  .js-slider-home-clean .slick-prev{
  	left: 15px;
  }
  .btn-animate-ciloe:hover::before{
  	background:{{section.settings.bg-btn-hover}};
  }
</style>
{% schema %}
{
  "name": "Slide Clean",
  "max_blocks": 5,
  "settings": [
	
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "color",
      "id": "bg-btn",
      "label": "Background color button",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "bg-btn-hover",
      "label": "Background color button",
      "default": "#41cce5"
    },
    {
      "type": "checkbox",
      "id": "enable_prev",
      "label": "Hidden button next & prev slick",
      "default": true
    },
	{
      "type": "header",
      "content": "Hidden slick dots"
    },
	{
      "type": "checkbox",
      "id": "hidden_dot",
      "label": "Hidden slick dots",
      "default": false
    },
	{
      "type": "header",
      "content": "Image in slider on device 1400px"
    },
	{
      "type": "header",
      "content": "Image 1"
    },
	{
   	  "type":      "select",
   	  "id":        "float_img_14",
   	  "label":     "Location image",
	  "default":   "right",
   	  "options": [
		{
       		"value": "right",
       		"label": "Right"
     	},
		{
       		"value": "left",
       		"label": "Left"
     	}
	]
	},
    {
      "type": "range",
      "id": "width_img_14",
      "label": "Width Image 1",
      "default": 70,
	  "min":0,
      "max":100,
      "step":1
    },
	{
      "type": "header",
      "content": "Image 2"
    },
	{
   	  "type":      "select",
   	  "id":        "float_img_24",
   	  "label":     "Location image",
	  "default":   "right",
   	  "options": [
		{
       		"value": "right",
       		"label": "Right"
     	},
		{
       		"value": "left",
       		"label": "Left"
     	}
	]
	},
    {
      "type": "range",
      "id": "width_img_24",
      "label": "Width Image 2",
      "default": 70,
	  "min":0,
      "max":100,
      "step":1
    },
	{
      "type": "header",
      "content": "Image in slider on device 1024px"
    },
	{
      "type": "header",
      "content": "Image 1"
    },
	{
   	  "type":      "select",
   	  "id":        "float_img_1",
   	  "label":     "Location image",
	  "default":   "right",
   	  "options": [
		{
       		"value": "right",
       		"label": "Right"
     	},
		{
       		"value": "left",
       		"label": "Left"
     	}
	]
	},
    {
      "type": "range",
      "id": "width_img_1",
      "label": "Width Image 1",
      "default": 50,
	  "min":0,
      "max":100,
      "step":1
    },
	{
      "type": "header",
      "content": "Image 2"
    },
	{
   	  "type":      "select",
   	  "id":        "float_img_2",
   	  "label":     "Location image",
	  "default":   "right",
   	  "options": [
		{
       		"value": "right",
       		"label": "Right"
     	},
		{
       		"value": "left",
       		"label": "Left"
     	}
	]
	},
    {
      "type": "range",
      "id": "width_img_2",
      "label": "Width Image 2",
      "default": 50,
	  "min":0,
      "max":100,
      "step":1
    },
	{
      "type": "header",
      "content": "Image in slider on device 768px"
    },
	{
      "type": "header",
      "content": "Image 1"
    },
	{
   	  "type":      "select",
   	  "id":        "float_img_1_ipad",
   	  "label":     "Location image",
	  "default":   "right",
   	  "options": [
		{
       		"value": "right",
       		"label": "Right"
     	},
		{
       		"value": "left",
       		"label": "Left"
     	}
	]
	},
    {
      "type": "range",
      "id": "width_img_1_ipad",
      "label": "Width Image 1",
      "default": 50,
	  "min":0,
      "max":100,
      "step":1
    },
	{
      "type": "header",
      "content": "Image 2"
    },
	{
   	  "type":      "select",
   	  "id":        "float_img_2_ipad",
   	  "label":     "Location image",
	  "default":   "right",
   	  "options": [
		{
       		"value": "right",
       		"label": "Right"
     	},
		{
       		"value": "left",
       		"label": "Left"
     	}
	]
	},
    {
      "type": "range",
      "id": "width_img_2_ipad",
      "label": "Width Image 2",
      "default": 36,
	  "min":0,
      "max":100,
      "step":1
    }
  ],

"blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
          	"id": "bg-img",
          	"label": "Background Image Slider",
			"info": "1920 x 1080px recommended"
          },
		{
      		"type": "header",
      		"content": "Text left"
    	},
	{
   	  "type":      "select",
   	  "id":        "local_text",
   	  "label":     "Location text",
	  "default":   "center",
   	  "options": [
		{
       		"value": "right",
       		"label": "Right"
     	},
		{
       		"value": "left",
       		"label": "Left"
     	},
		{
       		"value": "center",
       		"label": "Center"
     	}
	]
	},
		{
          "type": "text",
          "id": "title-1",
          "label": "Title top",
	  	  "default":   "GIRL COLLECTION 2018"
        },
        {
          "type": "text",
          "id": "title-2",
          "label": "Title midle",
	  	  "default":   "Mid Season Sale"
        },
  		{
        "type": "url",
        "id": "url-btn",
        "label": "URL button",
		"default": "/collections/all"
      	},
  		{
        "type": "text",
        "id": "btn-name",
        "label": "button name",
		"default": "shop now"
      	},
		{
      		"type": "header",
      		"content": "Image slider"
    	},
		{
        "type": "image_picker",
        "id": "img-slider-1",
        "label": "Image 1"
      	},
		{
        "type": "checkbox",
        "id": "enable_img",
        "label": "Enable image 2?",
		"default": false
      	},
		{
        "type": "image_picker",
        "id": "img-slider-2",
        "label": "Image 2"
      	}
        ]
      }
    ],
  "presets": [
    {
      "name": "Slide Clean",
      "category": "Slider"
    }
  ]
}
{% endschema %}