<div class="header">
  <div class="container">
    <div class="logo-mb">
      <div class="text-logo-mb">
        <img class="img-responsive logo4"  src="{{'logo_fg.png' | asset_url }}" alt="anh-loi">
        <div class="text">
          <span class="mini"> Minimal WooCommerce </span>
          <span class="ja">AJAX Theme </span>
        </div>
      </div>
      <h4>
        Ciloe is a theme designed to work on any device, especially mobile devices. With the mobile first design language, the Ciloe theme brings a great experience on mobile devices.</h4>
    </div>
    <div class="mobi">
      <a href="#"><img class="img-responsive"  src="{{'mobile.png' | asset_url }}" alt="anh-loi"></a>
    </div>
  </div>



  <div class="mobile-auto">
    <span class="home-page">homepage</span>
    <div class="container page">
      <div class="demo-mobile">
        <img src="{{'ciloe-mobile.png' | asset_url}}" class="img-responsive" alt="">
      </div>
      <div class="text-con">
        <a href="#"><img class="img-responsive"  src="{{'pr1.jpg' | asset_url}}" alt="anh-loi"></a>
        <p class="the-pr">Scan the QR Code bellow to view a live demo on your mobile device</p>
      </div>

      <div class="demo-mobile aac">
        <img src="{{'ciloe_mobile_pd.png' | asset_url}}" class="img-responsive" alt="">
      </div>
      <div class="text-conn">
        <p class="the-prr">Scan the QR Code bellow to view a live demo on your mobile device</p>
        <a class="abc" href="#"><img class="img-responsive"  src="{{'pr1.jpg' | asset_url}}" alt="anh-loi"></a>
        <span class="border"></span>

      </div>
    </div>
    <span class="home-pagee">shoppage</span>
  </div>
</div>
<div class="footer">
  <div class="container ">
    <div class="pur">
      <h3>
        Purchase The Ciloe<br>
        & Creat Beautiful Online Stores
      </h3>
      <div class="bot-footer ">
        <a href="#">purchase now</a>
      </div>
    </div>
  </div>
</div>
{% if page.template_suffix == 'form' %}
<style>
  .header{
    background-image: url({{'nen.jpg' | asset_url}});
    width: 100%;
    background-repeat: no-repeat;
    background-position: initial;
    position: relative;
    display: inline-block;
  }
  .logo-mb{
    display: block;
    text-align: center;
    padding-top: 120px;
  }
  .text-logo-mb {
    justify-content: center;
    margin: 0 auto;
    display: inline-block;
  }
  .logo-mb h4 {
    font-size: 14px;
    color: #999999;
    line-height: 28px;
    text-align: center;
    width: 48%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .mobi {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    padding: 50px 0px 35px 0px;
  }
  .mobile-auto {
    display: block;
    padding: 45px 0px 100px 0px;
  }
</style>

{% endif %}