<div class="stite-br" style="padding:50px 0;">
  <div class="br-commingsoon text-center bg-comming-soon" style="background-image: url('{% if settings.cms_bg == blank %}{{ 'cms_bg.png' | asset_url }}{% else %}{{settings.cms_bg |  img_url : "master"}}{% endif %}'); }">
    <div class="container">
      <div class="br-commingsoon__content">
        <a href="{{shop.url}}" class="br-logo">
          <img src="{% if settings.hdv1_logo == blank %}{{'logo.png' | asset_url}}{% else %}{{settings.hdv1_logo | img_url:'master'}}{% endif %}" alt="">
        </a>
        <div class="br-commingsoon__main">
          <h1 class="title-font" style="font-size:55px;">{{settings.cms_title}}</h1>
          <p class="des-font mb-40" style="font-size:18px;">{{settings.cms_des}}</p>
          <p class="des-font" style="font-size:18px;">Find out when we open:</p>
          <p class="title-font" style="font-size:24px;">EMAIL</p>
          {% if settings.newsletter_form_action != blank %}
          {% assign form_action = settings.newsletter_form_action %}
          {% else %}
          {% assign form_action = '#' %}
          {% endif %}
          <form class="form-group"  action="{{ form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" style="margin-bottom:30px;">
            <input value="{{customer.email}}" type="text" name="EMAIL" placeholder="Enter your email . . ." class="form-control des-font" style="font-size:18px;padding-left:30px;width:50%;height:60px;border:1px solid #ddd;border-radius:0;margin:15px auto;outline: 0;">
            <button class="animate-default number-font btn-password" type="submit" style="padding:15px 30px;border-radius: 0;color: #fff; background: black;">SUBSCRIBE</button>
          </form>
          <div class="br-clock-wrapper mb-40">
            <div class="br-countdown" data-countdown="engoj_countdown" data-date="{{settings.cms_time}}"></div>
          </div>
          <div id='container' class="mb-40">
            <div id='login'>
              <div>
                {% if shop.password_message and shop.password_message != '' %}
                {{ shop.password_message }}
                {% else %}

                {% endif %}
              </div>
              <p>{{settings.cms_label}}</p>
              <p class="title-font" style="font-size:18px;">Enter store using password:</p>
              <p class="des-font" style="font-size:24px;">PASSWORD</p>

              {% form 'storefront_password' %}
              {{ form.errors | default_errors }}
              <input style="font-size:18px;width:50%;height:60px;border:1px solid #ddd;border-radius:0;margin:15px 0;outline: 0;padding-left:30px;" type='password' name='password' id='password' placeholder="Your password..." class="engoc_passw des-font" autofocus />
              <div class="actions engoc_action">
                <input class="btn engoc_submit number-font btn-password" name="commit" type="submit" value="ENTER"/ style="padding:15px 30px;border-radius: 0;color: #fff; background: black;">
              </div>
              {% endform %}
            </div>
          </div>
          {{settings.cms_content_social}}
          <!-- nav-social -->
        </div>

        <script type="text/javascript">
          document.getElementById('password').focus();
        </script>
        <!-- br-commingsoon__main -->
      </div>
      <!-- br-commingsoon__content -->
    </div>
  </div>
  <!-- br-commingsoon -->
</div>
<style>
  .btn-password{
  transition:all .3s ease;
  }
   .btn-password:hover{
    background:#ee9051 !important;
    }
  ul.nav-social{
  padding-left:0;
  }
</style>